<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>toascii</title>

	{{ stylesheet('/css/bootstrap.min.css') }}
	{{ stylesheet('/css/bootstrap-theme.min.css') }}
	{{ stylesheet('/css/screen.css') }}

	{{ javascript('/js/jquery.min.js') }}
	{{ javascript('/js/bootstrap.min.js') }}
	{{ javascript('/js/site.js') }}

	<script type="text/javascript">
		var context = '{{ path('') }}';
	</script>
</head>
<body>

<div id="logo">
<div class="asciiart">
 _             _    ____   ____ ___ ___
| |_ ___      / \  / ___| / ___|_ _|_ _|
| __/ _ \    / _ \ \___ \| |    | | | |
| |_ (_) |  / ___ \ ___) | |___ | | | |
 \__\___/  /_/   \_\____/ \____|___|___|

      REST API for your ASCII needs
</div>
</div>

<div class="container">
	{% block content %}
	{% endblock %}
</div>

</body>
</html>