{% extends "base.html" %}

{% block content %}

	<div class="panel-group" id="toolsContainer">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-target="#art" href="#art">
						ASCII Art
					</a>
				</h4>
			</div>
			<div id="art" class="panel-collapse collapse">
				<div class="panel-body">
					{% include 'methods/art.html' %}
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-target="#text" href="#text">
						Text &nbsp; &ndash;&gt; &nbsp; ASCII
					</a>
				</h4>
			</div>
			<div id="text" class="panel-collapse collapse">
				<div class="panel-body">
					{% include 'methods/text.html' %}
				</div>
			</div>
		</div>


		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-target="#images" href="#images">
						Image &nbsp; &ndash;&gt; &nbsp; ASCII
					</a>
				</h4>
			</div>
			<div id="images" class="panel-collapse collapse">
				<div class="panel-body">
					{% include 'methods/text.html' %}
				</div>
			</div>
		</div>

	</div>

{% endblock %}