{% extends "base.html" %}

{% block content %}

	<div class="panel-group" id="toolsContainer">

		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title">ASCII Art</h4>
			</div>
			<div class="panel-body">
				{% include 'methods/art.html' %}
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title">Text &nbsp; &ndash;&gt; &nbsp; ASCII</h4>
			</div>
			<div class="panel-body">
				{% include 'methods/text.html' %}
			</div>
		</div>


		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title">Image &nbsp; &ndash;&gt; &nbsp; ASCII</h4>
			</div>
			<div class="panel-body">
				{% include 'methods/image.html' %}
			</div>
		</div>

	</div>

{% endblock %}